{% include 'msguide/header.html' %}
<!-- SHOWCASE -->
{% block block %}
<section id="showcase" class="py-5">
    <div class="primary-overlay text-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 text-center">
                    <h1 class="display-2 mt-5 pt-5">
                        Way To Learning Abroad
                    </h1>
                    <p class="lead">Let us guide you to the abroad universities you dream of.</p>
                    <a href="#" class="btn btn-outline-secondary btn-lg text-white" style="background-color: #FA5858"><i class="fa fa-arrow-right"></i> Read More</a>
                </div>
                <div class="col-lg-6 col-sm-12" style="margin-top: 120px">
                    <img src="/media/img/college.jpg" class="img-fluid hidden-md-down" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- NEWSLETTER -->
<section id="newsletter" class="bg-inverse text-white py-5">
    <div class="container">
        <form class="row">
            <div class="col-md-4">
                <input type="text" class="form-control form-control-lg" placeholder="Name">
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control form-control-lg" placeholder="Email">
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary btn-lg btn-block">
                <i class="fa fa-envelope-open-o"></i> Subscribe
              </button>
            </div>
        </form>
    </div>
</section>

<!-- BOXES -->
<section id="boxes" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card text-center card-outline-primary">
                    <div class="card-block">
                        <h3 class="text-primary">Be Better</h3>
                        <p class="text-muted">Don't Be The Same Be Better.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card text-center card-primary text-white">
                    <div class="card-block">
                        <h3>Be Smarter</h3>
                        <p>Be Smart, Be Intelligent and Be Informed.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card text-center card-outline-primary">
                    <div class="card-block">
                        <h3 class="text-primary">Be Faster</h3>
                        <p class="text-muted">Because Running Fast Is More Fun Than Running Slow.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card text-center card-primary text-white">
                    <div class="card-block">
                        <h3>Be Stronger</h3>
                        <p>Happiness Is When You Become Stronger.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ABOUT / WHY -->
<section id="about" class="my-5 py-5 text-center bg-faded" style="background-color: #E0F8F7">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="info-header mb-5">
                    <h1 class="text-primary pb-3">
                        Why This Platform?
                    </h1>

                    <p class="lead pb-3">
                        We Understand That It Is Difficult For Students To Select The Appropriate University Abroad. We Want To Guide You People In Selecting The Best College For You.
                    </p>
                </div>

                <!-- ACCORDION -->
                <div id="accordion" role="tablist">
                    <div class="card">
                        <div class="card-header" style="background-color: #FA5858;color:white" role="tab" id="heading1">
                            <h5 class="mb-0">
                                <div href="#collapse1" data-toggle="collapse" data-parent="#accordion">
                                    <i class="fa fa-arrow-circle-down"></i> Get Inspired
                                </div>
                            </h5>
                        </div>

                        <div id="collapse1" class="collapse show">
                            <div class="card-block">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi quia eligendi possimus eaque excepturi assumenda error enim quos, libero, accusantium beatae asperiores odit neque dignissimos ducimus et vel aut repudiandae ut? Quod ducimus minima perspiciatis,
                                minus, quas, sunt architecto odit suscipit id ut, iure. Libero accusamus nihil laudantium iste eligendi.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" style="background-color: #FA5858;color:white" role="tab" id="heading2">
                            <h5 class="mb-0">
                                <div class="collapsed" href="#collapse2" data-toggle="collapse" data-parent="#accordion">
                                    <i class="fa fa-arrow-circle-down"></i> Gain The Knowledge
                                </div>
                            </h5>
                        </div>

                        <div id="collapse2" class="collapse">
                            <div class="card-block">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi quia eligendi possimus eaque excepturi assumenda error enim quos, libero, accusantium beatae asperiores odit neque dignissimos ducimus et vel aut repudiandae ut? Quod ducimus minima perspiciatis,
                                minus, quas, sunt architecto odit suscipit id ut, iure. Libero accusamus nihil laudantium iste eligendi.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" style="background-color: #FA5858;color:white" role="tab" id="heading3">
                            <h5 class="mb-0">
                                <div class="collapsed" href="#collapse3" data-toggle="collapse" data-parent="#accordion">
                                    <i class="fa fa-arrow-circle-down"></i> Open Your Mind
                                </div>
                            </h5>
                        </div>

                        <div id="collapse3" class="collapse">
                            <div class="card-block">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi quia eligendi possimus eaque excepturi assumenda error enim quos, libero, accusantium beatae asperiores odit neque dignissimos ducimus et vel aut repudiandae ut? Quod ducimus minima perspiciatis,
                                minus, quas, sunt architecto odit suscipit id ut, iure. Libero accusamus nihil laudantium iste eligendi.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- AUTHORS -->
<section id="authors" class="my-5 text-center">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="info-header mb-5">
                    <h1 class="text-primary pb-3">
                        Meet Our Storytellers
                    </h1>

                    <p class="lead pb-3">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, veniam, voluptate! Beatae magni, impedit distinctio.
                    </p>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="card">
                            <div class="card-block">
                                <img src="/media/img/student1.jpg" alt="" class="img-fluid rounded-circle w-70 mb-3">
                                <h3>Heena Khan</h3>
                                <h5 class="text-muted">Lead Writer</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat dolores earum numquam vel tempora, ut.</p>
                                <div class="d-flex flex-row justify-content-center">
                                    <div class="p-4">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                    </div>
                                    <div class="p-4">
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                    </div>
                                    <div class="p-4">
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="card">
                            <div class="card-block">
                                <img src="/media/img/student2.jpg" alt="" class="img-fluid rounded-circle w-70 mb-3">
                                <h3>Preeti Singh</h3>
                                <h5 class="text-muted">Co-Writer</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat dolores earum numquam vel tempora, ut.</p>
                                <div class="d-flex flex-row justify-content-center">
                                    <div class="p-4">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                    </div>
                                    <div class="p-4">
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                    </div>
                                    <div class="p-4">
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="card">
                            <div class="card-block">
                                <img src="/media/img/student3.jpg" alt="" class="img-fluid rounded-circle w-70 mb-3">
                                <h3>Shraddha Kapoor</h3>
                                <h5 class="text-muted">Editor</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat dolores earum numquam vel tempora, ut.</p>
                                <div class="d-flex flex-row justify-content-center">
                                    <div class="p-4">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                    </div>
                                    <div class="p-4">
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                    </div>
                                    <div class="p-4">
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="card">
                            <div class="card-block">
                                <img src="/media/img/student4.jpg" alt="" class="img-fluid rounded-circle w-70 mb-3">
                                <h3>Parvez Mullah</h3>
                                <h5 class="text-muted">Artist</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat dolores earum numquam vel tempora, ut.</p>
                                <div class="d-flex flex-row justify-content-center">
                                    <div class="p-4">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                    </div>
                                    <div class="p-4">
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                    </div>
                                    <div class="p-4">
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- CONTACT -->
<section id="contact" class="bg-faded py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <h3>Get In Touch</h3>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, cumque.</p>
                <form>
                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" class="form-control" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input type="email" class="form-control" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                            <textarea class="form-control" placeholder="Message" rows="5"></textarea>
                        </div>
                    </div>
                    <input type="submit" value="Submit" class="btn btn-primary btn-block btn-lg">
                </form>
            </div>
            <div class="col-lg-3 align-self-center">
                <img src="/media/img/mlogo.png" class="img-fluid hidden-md-down" alt="">
            </div>
        </div>
    </div>
</section>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/tether.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/navbar-fixed.js"></script> {% endblock block %}